<div class="col-md-9 col-xs-12 col-md-push-3">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">店一覧</h3>
    </div>
    <div class="panel-body">
      <% @stores.each do |store| %>
        <li><%= link_to store.name, post_path(store.id) %></li>
      <% end %>
    </div>
  </div>

</div>

<%= render 'layouts/main_categories', object: @main_categories %>
