<div class="col-md-9 col-xs-12 col-md-push-3">

  <div class="panel panel-sub-green">
    <div class="panel-heading">
      <h2 class="panel-title">トップページ</h2>
    </div>
    <div class="panel-body">
    	<div class="main-image">
    		<%= image_tag '/main1.png' %>
    		<%= image_tag '/main2.png' %>
    	</div>
      <p>修理.comへようこそ！</p>
      <p>修理方法や修理屋さんの情報を提供し、あなたの修理を完全にサポートします。</p>
      <h3 class="h4 bold">修理ガイド</h3>
      <p>専門家の方々が執筆された、修理方法に関する記事を読む事ができます。</p>
      <h3 class="h4 bold">専門家に依頼する</h3>
      <p>迅速で確実な解决を望むなら、専門家に任せるのが一番！<br>
      修理.comでは、あなたの問題解决に最適な専門家を見つける事ができます。</p>
    </div>
  </div>

</div>

<%= render 'layouts/main_categories', object: @main_categories %>
