<div class="col-md-9 col-xs-12 col-md-push-3">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">メインコンテンツ</h3>
    </div>
    <div class="panel-body">
      <p>修正.comへようこそ！</p>
      <p>このサイトは専門家に壊れたものの直し方の知見を得たり、修正を依頼できるサイトです。</p>
    </div>
  </div>

</div>

<div class="col-md-3 col-xs-12 col-md-pull-9">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">メインカテゴリー</h2>
    </div>
    <div class="panel-body">
      <% @main_categories.each do |main_category| %>
        <li> <%= link_to main_category.name, sub_category_path(main_category.id) %> </li>
      <% end %>
    </div>
  </div>
</div>
