<div class="col-md-9 col-xs-12 col-md-push-3">

  <div class="panel panel-sub-green">
    <div class="panel-heading">
      <h3 class="panel-title">トップページ</h3>
    </div>
    <div class="panel-body">
      <p>修正.comへようこそ！</p>
      <p>このサイトは専門家に壊れたものの直し方の知見を得たり、修正を依頼できるサイトです。</p>
    </div>
  </div>

</div>

<%= render 'layouts/main_categories', object: @main_categories %>
