<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">メインコンテンツ</h3>
  </div>
  <div class="panel-body">
    <p>修正.comへようこそ！</p>
    <p>このサイトは専門家に壊れたものの直し方の知見を得たり、修正を依頼できるサイトです。</p>
  </div>
</div>
