// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel {

  .post-heading {
    padding: 20px 30px;
  }

  .post-body {
    padding: 25px 25px 15px 25px;
  }
}

.article-username {
  margin-top: 30px;
}
