
<div class="col-md-3 col-xs-12 col-md-pull-9">
  <div class="list-group">
    <div class="list-group-item active">
      メインカテゴリー
    </div>
    <% @main_categories.each do |main_category| %>
      <%= link_to main_category.name, sub_category_path(main_category.id), class: 'list-group-item' %>
    <% end %>
  </div>
</div>
